<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' /> -->
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!-- <div class="big-logo visible-xs">
      <div class="col-xs-12 black-bg logo-left-container">
        <h1 class="logo-left">坚</h1>
      </div>
      <div class="col-xs-12 white-bg logo-right-container">
        <h1 class="logo-right">持</h1>
      </div>      
    </div>
    <nav class="navbar-success visible-xs">
        <div class="col-sm-12">
                  <div class="navbar-header pull-right">
                    <span class="nav-toggle-button collapsed" data-toggle="collapse" data-target="#main-menu">
                    <span class="glyphicon glyphicon-align-justify icon"></span>
                    </span>
                  </div>
                  <div class="collapse navbar-collapse" id="main-menu">
                     <ul class="nav nav-pills nav-stacked navbar-primary nav-left">
                      <li><a title="主页" href="/">主页</a></li>
                      <% if (user) { %>
                      <li><a title="上传" href="/upload">上传</a></li>
                      <li><a title="发表" href="/post">发表</a></li>
                      <li><a title="登出" href="/logout">登出</a></li>
                      <% } else { %>
                      <li><a title="登录" href="/login">登录</a></li>
                      <li><a title="注册" href="/reg">注册</a></li>
                      <% } %>
                    </ul>   
                 </div>
        </div>
    </nav> -->

      <div class="col-sm-3  left">
        <h1 class="logo-left hidden-xs margin-bottom-60">坚</h1>
        <ul class="nav nav-pills nav-stacked navbar-primary nav-left">
            <li><a title="主页" href="/">主页</a></li>
            <% if (user) { %>
            <li><a title="上传" href="/upload">上传</a></li>
            <li><a title="发表" href="/post">发表</a></li>
            <li><a title="登出" href="/logout">登出</a></li>
            <% } else { %>
            <li><a title="登录" href="/login">登录</a></li>
            <li><a title="注册" href="/reg">注册</a></li>
            <% } %>
            <li><a href="">tel:15004610415</a></li>
            <li><a href="https://github.com/xxza">github</a></li>
        </ul>
      </div>
      <div class="col-sm-9 white">
        <h1 class="logo-right hidden-xs margin-bottom-60">持
           <marquee behavior=alternate>前进是我唯一的方向</marquee>
        </h1>
        <h2 class="header"><%= title %></h2>
        <article class="container">
          <% if (success) { %>
          <div><%= success %></div>
          <% } %>
          <% if (error) { %>
          <div><%= error %></div>
          <% } %>

  
